/*Start global*/
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin: 0;
  padding-bottom: 7px;
}

span {
  font-family: "Quicksand", sans-serif;
}
/*End global*/
h2 {
  font-size: 27px;
  font-weight: 100;
  color: #333333;
}

h3 {
  font-weight: 100;
  font-size: 27px;
}

h4 {
  font-weight: 100;
  font-size: 22px;
}
/*End reusable*/

/********Start header*********/

/*NAV*/
.header {
  width: 100%;
  height: 60px;
}

h1 {
  display: inline-block;
}

.logo {
  font-size:1.7rem;
  color: #333333;
  font-family: "Teko", sans-serif;
  text-align: left;
  margin-top: 0;
  float: left;
  line-height: 50px;
  padding-left: 15px;
  padding-top: 3px;
}

form {
  float: right;
  line-height: 52px;
  padding-right: 14px;
  width: 225px;
}

input {
  background: transparent;
  width: 100%;
  border: 2px solid #eeeeee; 
  border-radius: .3rem;
  text-indent: 5px;
  min-height: 28px; 
  font-size: 13px;
}

form .fa-search {
  float: right;
}

.header-link p{
  float: right;
  padding-bottom: 0;
  line-height: 52px;
  padding-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.caret {       /*created custom caret*/
  border: solid black;
  border-width: 0 1.8px 1.8px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 8px;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #333333;
  justify-content: left;
  background: white;
  height: 25px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
} 

.dropdown-menu li{
  border: 1px solid #eeeeee;
  border-top: 0;
}

.nav-menu a:hover {  /*on hover menu turns diff color*/
  background: #333333;
  color: white;
}

.nav-menu ul {   /*menu & ul now flex*/
  list-style: none;
  display: flex;
}

.nav-menu ul li {  /*positions ul relative*/
  position: relative;
  text-align: center;
}

.nav-menu li:hover .dropdown-menu li {
  top: 0; /*flushes submenu against navbar*/
  display: block;
}

.dropdown-menu li {
  display: none; /*hides submenu*/
  position: absolute;
}

.dropdown-menu {
  position: absolute; /*positions submenu items to left top side*/
  display: flex;
  flex-direction: column; /*submenu now in column format*/
  width: 100%; /*each submenu width matches it's menu's width"*/
}

.top-nav h1 {
  font-size: 3.3rem;
  color: #333333;
  font-family: "Teko", sans-serif;
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.landing-image {
  width: 100%;
  height: auto;
  padding: 12px 0;
}
/********End header*********/

/*Start Store*/

.store-heading {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin: 30px 35px 30px 35px;
  text-align: center;
  position: relative;
}

/*2nd Gallery Container Rough Draft*/
.gall-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 35px 0 35px;
}

.gall-container img {
  max-width: 100%;
}

.store-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0 35px 50px 35px;
  margin-bottom: 50px;
}

.store-image {
  width: 100%;
  height: auto;
}

.store-details {
  text-align: center;
}

.product-description {
  font-size: 20px;
}

.product-cost {
  font-size: 17px;
}
/*End Store*/

/*Products Section*/
.content-main {
  padding: 80px 0;
}

.breadcrum {
  text-align: center;
  font-size: 13px;
}
    .homepage-link:visited{
      color: #999;
    }
    .homepage-link:hover{
      color: black;
      transition: color 650ms;
    }

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-image {
  height: auto;
  width: 100%;
}

.product-info {
  text-align: center;
  font-size: 14px;
}

.product-price {
  font-size: 13px;
  color:#5a5a5a;
}
/*End Products Section/


/*Start portfolio*/
/*End services*/


/*Start timeline*/
/*End timeline*/

/*mobile size footer start*/
.connect-container {
  margin: 20px 35px 20px 35px;
}

.customer-number {
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 40px;
  font-weight: bold;
}

.connect-heading {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.connect ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 10px;
}
.social-media i {
  font-size: 1.8rem;
  padding: 6px;
}

.connect-links {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

.fa-facebook-square:hover {
  color: #4267b2;
  transition: color 650ms;
}

.fa-instagram:hover {
  color: #e4405f;
  transition: color 650ms;
}

.fa-pinterest-square:hover {
  color: #bd081c;
  transition: color 650ms;
}
/*mobile size footer end*/

/*pc size footer start*/
.connect-container-pc {
  margin: 0px 25px 0px 35px;
  padding: 25px 0px 50px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.col-one {
  width: 170px;
}

.col-two {
  width: 170px;
}

.col-three {
  width: 170px;
}

.connect-heading-pc {
  font-size: 1rem;
  font-weight: bold;
}

.connect-links-pc {
  font-size: 13px;
  padding-bottom: 5px;
}

.address-phone {
  font-size: 13px;
}

.social-media-pc i {
  font-size: 1.5rem;
}

.li-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#sm-title {
  font-size: 14px;
  padding: 5px 0 5px 10px;
}
/*pc size footer end*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem 0;
  position: relative;
  font-size: 0.7rem;
}
/*End footer*/

.sample-item {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}

/*Start animations*/
/*End animations*/

/*Start media queries*/
@media (max-width: 980px) {
  .top-nav h1 {
    font-size: 3rem;
  }

  .nav-link {
    font-size: 1rem;
  }
  h2 {
    font-size: 21px;
  }

  .product-description {
    font-size: 19px;
  }

  .product-cost {
    font-size: 17px;
  }

  .gall-container {
    grid-template-columns: 1fr;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .top-nav h1 {
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .product-description {
    font-size: 15px;
  }

  .product-cost {
    font-size: 13px;
  }

  h2 {
    font-size: 18px;
  }

  .customer-number {
    font-size: 0.9rem;
  }

  .connect-heading {
    font-size: 0.9rem;
  }

  .connect ul {
    padding-bottom: 20px;
  }

  .social-media i {
    font-size: 1.8rem;
  }

  .connect-link ul {
    font-size: 11px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  ul .connect-links {
    padding: 2px 0;
  }

  .copyright {
    font-size: 9px;
  }
}



@media (min-width: 1024px) {
  .connect-container {
    display: none;
  }
}

@media (max-width: 1024px) {
  .connect-container-pc {
    display: none;
  }
}
/*End media queries*/
